
<div class="col-3 bg-light shadow-sm p-3 mb-5 bg-body rounded" style="height: fit-content;">
    <!-- menu -->
    <div class="menu w-75 d-flex flex-column m-auto py-4">

        <ul class="tag-menu d-flex list-unstyled justify-content-between">
            <li><a href="index.html">Trang chủ</a></li>
            >
            <li><a href="">Sách</a></li>
        </ul>

        <div class="category py-3 border-bottom">
            <vc:sidebar></vc:sidebar>
        </div>

        <!-- lọc giá -->
        <vc:sidebar-detail></vc:sidebar-detail>
        <!--  -->
    </div>
    <!-- end menu -->
</div>