<div class="col-3 bg-light shadow-sm px-1 py-3 bg-body rounded" style="height: fit-content;">
    <!-- menu -->
    <div class="menu w-75 d-flex flex-column m-auto py-4">

        <div class="input-group rounded pb-4">
            <form asp-action="Index" asp-controller="Search" method="get">
                <input type="text" name="search" id="timkiem" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <ul class="list-group" id="result">
            </ul>
        </div>
        <vc:sidebar></vc:sidebar>
    </div>
    <!-- end menu -->
</div>

