@model IEnumerable<Category>

@foreach(var items in Model)
{
    <div class="menu-category">
    <h3 class="menu-heading"><td>@Html.Raw(items.Icon)</td> <a asp-action="Index" asp-controller="Genre" class="text-decoration-none menu-title-link">@items.Name</a> <i class="fa-solid fa-caret-down"></i></h3>
    <div class="menu-details">
        <ul>
            @foreach(var item in items.Subcategories)
            {
            <li><a href="">@item.Name</a></li>
            }
            
        </ul>
    </div>
</div>
}