@model Product
@{
    ViewData["Title"] = "Add Product";
}
@using BookShopMvc.Models;

<div id="page-wrapper">
    <div class="main-page">
        <h4>Add Product</h4>
        <div class="col-12">
            <div class="col-md-9">
                <form asp-action="Fix" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" id="title" onkeyup="ChangeToSlug()" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Slug</label>
                        <input asp-for="Slug" class="form-control" id="convert_slug" />
                        <span asp-validation-for="Slug" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>Qty</label>
                        <input asp-for="Qty" class="form-control" />
                        <span asp-validation-for="Qty" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label>SubCategory</label>
                        <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.SubCategories">
                            <option>--Choose a SubCategory--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Author</label>
                        <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors">
                            <option>--Choose a Authors--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Publishers</label>
                        <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers">
                            <option>--Choose a Publishers--</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Thumb</label>
                        <input asp-for="ImageUpload" class="form-control" />
                        <span asp-validation-for="ImageUpload" class="text-danger"></span>
                        <img src="~/backend/images/Product/@Model.Thumb" style="width:120px" />
                    </div>

                    <div class="form-group">
                        <label>Status</label>
                        <select asp-for="Status" class="form-control">
                            <option value="1"> Hiển thị </option>
                            <option value="0"> Ẩn </option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" onclick="addCategory()">Add</button>
                    </div>
                </form>
                <a asp-action="Index">Back to List Product</a>
            </div>
        </div>
    </div>
</div>



